- content_for :head do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{AppEnv[:google_maps_api_key]}&sensor=false"
  = javascript_include_tag "map"
  %script{type: 'text/javascript'}
    window.Shows = #{markers}

#map

- if AppEnv[:gauge_id]
  :javascript
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '#{AppEnv[:gauge_id]}');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
